table {
  width: 100%;
  height: 10px;
}

 
.mat-row:hover {
  cursor: pointer;
  outline: none;
}

.mat-form-field {
  padding: 0px !important;
  margin: 0px !important;
  font-size: smaller;
}
 
.mat-class {
  font-size: 14px;
  transform: scale(-1);
}

.highlight {
  background-color: #ebeff5;
  font-weight: bolder;
}

.mat-row1 {
  // background-color: #e5e5f9;
  height: 50px !important;
  font-weight: bolder;
}


::ng-deep .mat-tooltip { 
   max-width: unset !important;
  // white-space: pre-wrap;
  font-size: 12px;
  white-space: pre-line;

}