<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>
<div *ngIf="newYear" class="snow"></div>


<!-- class="w-full h-full bg-pattern" -->
<div fxLayout="column" class="w-full h-full" fxLayoutAlign="center center"
  style="background-image: url(assets/img/avatars/slider_21.jpg);background-repeat: no-repeat; background-size: 100% 100%;"
  [ngStyle]="{ 'background-image':newYear?'url(assets/img/avatars/newyear.jpg)':'url(assets/img/avatars/slider_21.jpg)'}">


  <div @fadeInUp class="card overflow-hidden w-full max-w-xs">
    <!-- 
    [ngStyle]="{'background-color':this.styleService.style$.source.value=='vex-style-default'? none: (
      this.styleService.style$.source.value=='vex-style-dark'?'whitesmoke':none)}" -->
    <div class="p-6 pb-0" fxLayout="column" fxLayoutAlign="center center">
      <div class="fill-current text-center">
        <img class="w-64" src="assets/img/demo/barkodes_logo.png">
      </div>
    </div>



    <div class="text-center mt-4">
      <h4 *ngIf="!isExpired" class="body-2 text-secondary m-0">{{this.languageMap['Kullanıcı Bilgilerinizi
        Giriniz'].labelName}}</h4>
      <h4 *ngIf="isExpired" class="body-2 text-secondary m-0">{{this.languageMap['Şifre Süresi Dolmuştur.'].labelName}}
        <br />
        {{this.languageMap['Yeni Şifre Belirleyiniz.'].labelName}}
      </h4>


    </div>

    <div [formGroup]="form" *ngIf="!isExpired && !Forgot" class="p-6" fxLayout="column" style="padding: 1.0rem;">

      <mat-dialog-content fxLayout="row" style="overflow: hidden;">
        <mat-form-field appearance="outline">
          <mat-label>{{this.languageMap['Kullanıcı Adı'].labelName}}</mat-label>
          <input formControlName="Username" matInput required>
          <mat-error *ngIf="form.get('Username').hasError('required')">{{this.languageMap['Kullanıcı Adı
            Gerekli'].labelName}}</mat-error>
        </mat-form-field>
      </mat-dialog-content>

      <mat-dialog-content fxLayout="row" style="overflow: hidden;">

        <mat-form-field appearance="outline">
          <mat-label>{{this.languageMap['Şifre'].labelName}}</mat-label>
          <input [type]="inputType" formControlName="Password" matInput required>
          <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
            <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
            <mat-icon *ngIf="!visible" [icIcon]="icVisibilityOff"></mat-icon>
          </button>
          <mat-hint>{{this.languageMap['Şifre Gerekli'].labelName}}</mat-hint>
          <mat-error *ngIf="form.get('Password').hasError('required')">{{this.languageMap['Şifre Gerekli'].labelName}}
          </mat-error>
        </mat-form-field>

      </mat-dialog-content>


      <mat-dialog-content fxLayout="row" style="overflow: hidden;">

        <mat-form-field appearance="outline">
          <mat-label>{{this.languageMap['Şirket'].labelName}}</mat-label>
          <!-- <input formControlName="username" matInput required> -->

          <mat-select style="width: 100%;" formControlName="CompanyId">
            <mat-option *ngFor="let services of companies" [value]="services.kodu">
              {{services.adi}}
            </mat-option>
          </mat-select>

          <mat-error *ngIf="form.get('CompanyId').hasError('required')">{{this.languageMap['Şirket Kodu
            Seçiniz'].labelName}}</mat-error>
        </mat-form-field>

      </mat-dialog-content>


      <div fxLayout="row" fxLayoutAlign="space-between center">


        <mat-checkbox formControlName="Remember" class="caption" color="primary">{{this.languageMap['Beni
          Hatırla'].labelName}}</mat-checkbox>

          <!-- <a mat-button class="caption"  (click)="forgotPassword()">{{this.languageMap['Şifremi Unuttum'].labelName}}</a> -->

          <div class="col-md-6">
            <!-- || form.get('CompanyId').hasError('required') -->
            <a mat-button class="caption" [disabled]="form.get('Username').hasError('required') "  style="margin-left: -30px;" (click)="openDialog()">
              {{this.languageMap['Şifremi Unuttum'].labelName}}</a>
          </div>

        <div class="-mx-1 flex items-center">
          <div class="px-1" *ngIf="this.lng==='tr-TR'">
            <button [matMenuTriggerFor]="languageMenu" mat-icon-button type="button">
              <mat-icon [icIcon]="emojioneTR"></mat-icon>
            </button>
          </div>

          <div class="px-1" *ngIf="this.lng==='en-US'">
            <button [matMenuTriggerFor]="languageMenu" mat-icon-button type="button">
              <mat-icon [icIcon]="emojioneUS"></mat-icon>
            </button>
          </div>


          <mat-menu #languageMenu="matMenu" overlapTrigger="false" xPosition="before" yPosition="below">

            <button mat-menu-item (click)="lngChange('tr-TR')">
              <mat-icon [icIcon]="emojioneTR"></mat-icon>
              <span>{{this.languageMap['Türkçe'].labelName}}</span>
            </button>

            <button mat-menu-item (click)="lngChange('en-US')">
              <mat-icon [icIcon]="emojioneUS"></mat-icon>
              <span>{{this.languageMap['İngilizce'].labelName}}</span>
            </button>


          </mat-menu>
        </div>

      </div>


      <button (click)="login()" color="primary" mat-raised-button type="button"
        [disabled]="form.get('Username').hasError('required') || form.get('Password').hasError('required') || form.get('CompanyId').hasError('required')">
        {{this.languageMap['Giriş'].labelName}}
      </button>


    </div>


    <div [formGroup]="formRe" *ngIf="isExpired || Forgot" class="p-6" fxLayout="column" style="padding: 1.0rem;">

      <mat-dialog-content fxLayout="row" style="overflow: hidden;">
        <mat-form-field appearance="outline">
          <mat-label>{{this.languageMap['Şifre'].labelName}}</mat-label>
          <input id="passwordnew" matInput [type]="inputType" placeholder="Şifre" formControlName="PasswordNew" required
            autofocus>
          <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
            <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
            <mat-icon *ngIf="!visible" [icIcon]="icVisibilityOff"></mat-icon>
          </button>
        </mat-form-field>
      </mat-dialog-content>

      <mat-dialog-content fxLayout="row" style="overflow: hidden;">

        <mat-form-field appearance="outline">
          <mat-label>{{this.languageMap['Şifre Tekrar'].labelName}}</mat-label>
          <input id="repasswordnew" matInput [type]="inputType" placeholder="Şifre" formControlName="RePasswordNew"
            required>
          <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
            <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
            <mat-icon *ngIf="!visible" [icIcon]="icVisibilityOff"></mat-icon>
          </button>

        </mat-form-field>

      </mat-dialog-content>

      <mat-dialog-content fxLayout="row" style="overflow: hidden; margin-bottom: 10px;">

        <div class="errors"
          *ngIf="(formRe.get('PasswordNew').invalid && (formRe.get('PasswordNew').touched || formRe.get('PasswordNew').dirty))">

          <div class="error-text" *ngIf="formRe.get('PasswordNew').hasError('required')">{{this.languageMap['Şifre
            gerekli'].labelName}}</div>

          <div class="error-text" *ngIf="formRe.get('PasswordNew').errors.minlength">{{this.languageMap['Şifre en az 8
            karakter olmalı'].labelName}}</div>

          <div class="error-text" *ngIf="formRe.get('PasswordNew').hasError('passwordStrength')">
            {{this.languageMap[formRe.get('PasswordNew').errors['passwordStrength']].labelName}}</div>


        </div>

        <div class="errors">
          <div class="error-text"
            *ngIf="formRe.get('RePasswordNew').value.length>=8 && formRe.get('PasswordNew').value!== formRe.get('RePasswordNew').value">

            {{this.languageMap['Şifre (Tekrar) hatalı'].labelName}}
          </div>

        </div>
      </mat-dialog-content>

      <button (click)="rePassword()" color="primary" mat-raised-button type="button"
        [disabled]="!((!formRe.get('PasswordNew').hasError('required') && !formRe.get('RePasswordNew').hasError('required') && !formRe.get('PasswordNew').hasError('passwordStrength')  ) 
        && (formRe.get('RePasswordNew').value.length>=8 && formRe.get('PasswordNew').value== formRe.get('RePasswordNew').value))">
        {{this.languageMap['Onay'].labelName}}
      </button>

     

    </div>

  </div>
</div>