<div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">


  <nav mat-tab-nav-bar>

    <button [disabled]="this.selectedTypeIndex===-1 || newRecordD" mat-raised-button color="primary" *ngIf="this.pageauth.write" (click)="createShift()"
      style="width: 120px; height: 35px; margin-right: 10px; font-size: 12px;top: 7px;">
      <mat-icon style="margin-left: -15px; padding-top: 0px;">add</mat-icon>
      {{this.languageMap['Yeni Kayıt'].labelName}}
    </button>

    <a mat-tab-link *ngFor="let link of links" (click)="openShiftType(link.index)" style="  margin: 2px;"
      [ngStyle]="{'color': link.index===this.selectedTypeIndex?'white':'black'}" class="class-mat-tab-link">
      <span>
        {{ link.name }}</span>
    </a>
  </nav>


  <span fxFlex></span>

  <div *ngIf="isMobileLayout" class="bg-card rounded-full border px-4" style="overflow: auto;" fxFlex.lt-md="auto"
    fxLayout="row" fxLayoutAlign="start center">
    <input [formControl]="searchCtrl" class="px-1 py-2 border-0 outline-none w-full bg-transparent" style="width: 60px;"
      [placeholder]="this.languageMap['Ara'].labelName" type="search">
  </div>

  <div *ngIf="!isMobileLayout" class="bg-card rounded-full border px-4" style="overflow: auto;" fxFlex="320px"
    fxFlex.lt-md="auto" fxHide.xs fxLayout="row" fxLayoutAlign="start center">
    <ic-icon [icIcon]="icSearch" size="20px"></ic-icon>
    <input [formControl]="searchCtrl" class="px-4 py-3 border-0 outline-none w-full bg-transparent"
      [placeholder]="this.languageMap['Ara'].labelName" type="search">
  </div>

  <button color="primary" mat-icon-button type="button" (click)="getShift(this.selectedTypeIndex)">
    <mat-icon [icIcon]="icMoreHoriz"></mat-icon>
  </button>



</div>


<div class="app-table-wrapper" style="overflow: auto;"
  [ngStyle]="{'height': (this.subFooter?'65vh':'calc(65vh + 35px)')}">
  <table @stagger [dataSource]="dataSource" class="w-full" mat-table>

    <ng-container matColumnDef="Checkbox">
      <th hidden *matHeaderCellDef mat-header-cell>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()" color="primary">
        </mat-checkbox>
      </th>
      <td hidden *matCellDef="let row" class="w-4" mat-cell>
        <mat-checkbox (change)="$event ? detailToggle(row) : null" (click)="$event.stopPropagation()"
          [checked]="selection.isSelected(row)" color="primary">
        </mat-checkbox>
      </td>
    </ng-container>


    <ng-container matColumnDef="ID" style="width: 10px;">
      <th hidden *matHeaderCellDef mat-header-cell>ID</th>
      <td hidden *matCellDef="let row" style="width: 10px;" mat-cell>
        <span>{{ row.id }}</span>
      </td>
    </ng-container>


    <ng-container matColumnDef="Code">
      <th *matHeaderCellDef style="width: 10px;" mat-header-cell>{{this.languageMap['Kod'].labelName}}
      </th>
      <td *matCellDef="let row" style="width: 100px; " mat-cell>
        <!-- 
        <mat-checkbox hidden style="margin-right: 10px;" *ngIf="row.Code!==''"
          (change)="$event ? detailToggle(row) : null" (click)="$event.stopPropagation()"
          [checked]="selection.isSelected(row)" color="primary">
        </mat-checkbox> -->

        <span>{{ row.Code }}</span>

      </td>
    </ng-container>

    <ng-container matColumnDef="Name">
      <th *matHeaderCellDef style="width: 10px;" mat-header-cell>{{this.languageMap['Adı'].labelName}}
      </th>
      <td *matCellDef="let row" style="width: 10px;" mat-cell>
        <span>{{ row.Name }}</span>
      </td>

    </ng-container>
    <ng-container matColumnDef="Type">
      <th *matHeaderCellDef style="width: 100px;" mat-header-cell>{{this.languageMap['Türü'].labelName}}
      </th>
      <td *matCellDef="let row" style="width: 100px; " mat-cell>

        <mat-select style="width: 100px;" [value]="row.Type.toString()" disabled>
          <mat-option *ngFor="let item of this.shiftTypes" [value]="item.code">            
            {{this.languageMap[item.name].labelName}}
          </mat-option>
        </mat-select>


      </td>

    </ng-container>

    <ng-container matColumnDef="Time">
      <th [hidden]="isMobileLayout" *matHeaderCellDef style="width: 10px;" mat-header-cell>
        {{this.languageMap['Süre'].labelName}}
      </th>
      <td [hidden]="isMobileLayout" *matCellDef="let row" style="width: 10px;" mat-cell>

        <span>{{ row.Time | date : "HH:mm" }}</span>

      </td>
    </ng-container>

    <ng-container matColumnDef="Start">
      <th [hidden]="isMobileLayout" *matHeaderCellDef style="width: 10px;" mat-header-cell>
        {{this.languageMap['Başlama'].labelName}}
      </th>
      <td [hidden]="isMobileLayout" *matCellDef="let row" style="width: 10px;" mat-cell>

        <span>{{ row.Start | date : "HH:mm" }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="Finish">
      <th [hidden]="isMobileLayout  " *matHeaderCellDef style="width: 10px;" mat-header-cell>
        {{this.languageMap['Bitiş'].labelName}}
      </th>
      <td [hidden]="isMobileLayout  " *matCellDef="let row" style="width: 10px;" mat-cell>

        <span>{{ row.Finish | date : "HH:mm" }}</span>
      </td>
    </ng-container>


    <ng-container matColumnDef="StartEarly">
      <th [hidden]="isMobileLayout  || this.selectedTypeIndex==1" *matHeaderCellDef style="width: 10px;" mat-header-cell>{{this.languageMap['Eksi Giriş Tolerans'].labelName}}
      </th>
      <td [hidden]="isMobileLayout  || this.selectedTypeIndex==1" *matCellDef="let row" style="width: 10px;" mat-cell>
        <span>{{ row.StartEarly | date : "HH:mm" }}</span>
      </td>
    </ng-container>





    <ng-container matColumnDef="LateStart">
      <th [hidden]="isMobileLayout  || this.selectedTypeIndex==1" *matHeaderCellDef style="width: 10px;" mat-header-cell>{{this.languageMap['Artı Giriş Tolerans'].labelName}}
      </th>
      <td [hidden]="isMobileLayout  || this.selectedTypeIndex==1" *matCellDef="let row" style="width: 10px;" mat-cell>

        <span>{{ row.LateStart | date : "HH:mm" }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="EarlyFinish">
      <th [hidden]="isMobileLayout  || this.selectedTypeIndex==1" *matHeaderCellDef style="width: 10px;" mat-header-cell>{{this.languageMap['Eksi Çıkış Tolerans'].labelName}}
      </th>
      <td [hidden]="isMobileLayout  || this.selectedTypeIndex==1" *matCellDef="let row" style="width: 10px;" mat-cell>

        <span>{{ row.EarlyFinish | date : "HH:mm" }}</span>
      </td>
    </ng-container>




    <ng-container matColumnDef="LateFinish">
      <th [hidden]="isMobileLayout  || this.selectedTypeIndex==1" *matHeaderCellDef style="width: 10px;" mat-header-cell>{{this.languageMap['Artı Çıkış Tolerans'].labelName}}
      </th>
      <td [hidden]="isMobileLayout  || this.selectedTypeIndex==1" *matCellDef="let row" style="width: 10px;" mat-cell>

        <span>{{ row.LateFinish | date : "HH:mm" }}</span>
      </td>
    </ng-container>


    <ng-container matColumnDef="WeekHoliday">
      <th [hidden]="isMobileLayout  || this.selectedTypeIndex==0"  *matHeaderCellDef style="width: 10px;" mat-header-cell>{{this.languageMap['Hafta
        Tatili'].labelName}}
      </th>
      <td [hidden]="isMobileLayout  || this.selectedTypeIndex==0" *matCellDef="let row" style="width: 10px;" mat-cell>
        <span>{{ row.WeekHoliday }}</span>
      </td>

    </ng-container>


    <ng-container matColumnDef="TypeOfWeekHoliday">
      <th [hidden]="isMobileLayout  || this.selectedTypeIndex==0" *matHeaderCellDef style="width: 10px;" mat-header-cell>{{this.languageMap['Hafta
        Tatili Türü'].labelName}}
      </th>
      <td [hidden]="isMobileLayout  || this.selectedTypeIndex==0" *matCellDef="let row" style="width: 10px;" mat-cell>



        <mat-select style="width: 100%; font-size: smaller;" [value]="row.TypeOfWeekHoliday.toString()" disabled>
          <mat-option *ngFor="let services of this.typeOfWeekHoliday" [value]="services.kodu">
            {{services.adi}}
          </mat-option>
        </mat-select>


      </td>

    </ng-container>


    <ng-container matColumnDef="Actions" sticky>
      <th [hidden]="(!this.pageauth.write && !this.pageauth.update && !this.pageauth.delete)" *matHeaderCellDef
        mat-header-cell>{{this.languageMap['Aksiyon'].labelName}}</th>
      <td [hidden]="(!this.pageauth.write && !this.pageauth.update && !this.pageauth.delete)" *matCellDef="let row"
        class="w-10 text-secondary" mat-cell>
        <button (click)="$event.stopPropagation()" [matMenuTriggerData]="{ definition: row }"
          [matMenuTriggerFor]="actionsMenu" mat-icon-button type="button">
          <mat-icon [icIcon]="icMoreHoriz"></mat-icon>
        </button>
      </td>
    </ng-container>


    <tr *matHeaderRowDef="columns;sticky: true;" mat-header-row></tr>

    <tr (dblclick)="updateShift(row,false)" (click)="this.selectedRowIndex = row.ID"
      *matRowDef="let row; columns: columns;" @fadeInUp [ngClass]="{'highlight': selectedRowIndex == row.ID}"
      style="max-height: 120px;" mat-row></tr>
  </table>


</div>





<mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
  <ng-template let-definition="definition" matMenuContent>


    <button (click)="updateShift(definition,true)" *ngIf="this.pageauth.update" mat-menu-item>
      <mat-icon [icIcon]="icEdit"></mat-icon>
      <span>{{this.languageMap['Güncelle'].labelName}}</span>
    </button>
    <button (click)="deleteShift(definition)" *ngIf="this.pageauth.delete" mat-menu-item>
      <mat-icon [icIcon]="icDelete"></mat-icon>
      <span>{{this.languageMap['Sil'].labelName}}</span>
    </button>
  </ng-template>
</mat-menu>