<div class="vex-mail-content-header flex-none flex items-center px-gutter border-b">
  <mat-checkbox (change)="masterToggle(mails, $event)"
                *ngIf="mails$ | async as mails"
                [checked]="isAllSelected(mails)"
                [indeterminate]="isSomeButNotAllSelected(mails)"
                color="primary"></mat-checkbox>

  <div *ngIf="selection.hasValue()" class="ml-5 pl-3 border-l">
    <button color="primary" mat-icon-button matTooltip="Mark as done" matTooltipPosition="below" type="button">
      <mat-icon [icIcon]="icCheck" size="24px"></mat-icon>
    </button>

    <button class="ml-1" color="primary" mat-icon-button matTooltip="Archive" matTooltipPosition="below" type="button">
      <mat-icon [icIcon]="icArchive" size="24px"></mat-icon>
    </button>

    <button class="ml-1" color="primary" mat-icon-button matTooltip="Move to" matTooltipPosition="below" type="button">
      <mat-icon [icIcon]="icFolder" size="24px"></mat-icon>
    </button>

    <button class="ml-1"
            color="primary"
            mat-icon-button
            matTooltip="Add Label"
            matTooltipPosition="below"
            type="button">
      <mat-icon [icIcon]="icLabel" size="24px"></mat-icon>
    </button>
  </div>

  <span class="flex-1"></span>

  <button color="primary" mat-icon-button matTooltip="Settings" matTooltipPosition="below" type="button">
    <mat-icon [icIcon]="icSettings" size="24px"></mat-icon>
  </button>
</div>

<div class="flex-auto flex overflow-hidden">
  <ng-container *ngIf="gtSm$ | async">
    <vex-scrollbar @stagger class="flex-1 py-3">
      <vex-mail-list-entry (selectedChange)="$event ? selection.select(mail.id) : selection.deselect(mail.id)"
                           *ngFor="let mail of mails$ | async; trackBy: trackById"
                           @fadeInUp
                           [mail]="mail"
                           [selected]="selection.isSelected(mail.id)"
                           class="block"></vex-mail-list-entry>
    </vex-scrollbar>

    <div class="flex-1 flex flex-col ltr:border-l rtl:border-r">
      <router-outlet></router-outlet>
    </div>
  </ng-container>

  <ng-container *ngIf="!(gtSm$ | async)">
    <vex-scrollbar *ngIf="!(hasActiveMail$ | async)" @stagger class="flex-1 py-3">
      <vex-mail-list-entry (selectedChange)="$event ? selection.select(mail.id) : selection.deselect(mail.id)"
                           *ngFor="let mail of mails$ | async; trackBy: trackById"
                           @fadeInUp
                           [mail]="mail"
                           [selected]="selection.isSelected(mail.id)"
                           class="block"></vex-mail-list-entry>
    </vex-scrollbar>

    <div *ngIf="hasActiveMail$ | async" class="flex-1 flex flex-col">
      <router-outlet></router-outlet>
    </div>
  </ng-container>

</div>


