<vex-scrollbar *ngIf="mail$ | async as mail" @fadeInUp class="flex-auto">
  <div class="p-gutter">
    <div class="mb-gutter flex items-center">
      <a *ngIf="!(gtSm$ | async)" [routerLink]="['../']" class="mr-4" mat-icon-button>
        <mat-icon [icIcon]="icArrowBack" size="24px"></mat-icon>
      </a>
      <p class="text-lg leading-normal">
        <span>{{ mail?.subject }}</span>
        <vex-mail-label *ngFor="let label of mail?.labels"
                        class="ml-2"
                        [label]="label.label"
                        [ngClass]="label.classes"></vex-mail-label>
      </p>
    </div>

    <div (click)="toggleDropdown()" class="flex items-center cursor-pointer">
      <div class="flex-1 flex truncate">
        <div class="flex-none w-10 h-10 rounded-full overflow-hidden relative mr-4">
          <img [src]="mail?.from.imgUrl" class="h-full w-full object-fit"/>
        </div>

        <div class="flex-1 truncate">
          <div class="flex truncate">
            <p class="text-base flex-1 truncate font-medium">{{ mail?.from.name }}</p>
            <p class="text-xs flex-none text-secondary truncate self-end">{{ mail?.date | relativeDateTime }}</p>
          </div>

          <div class="flex items-center cursor-pointer">
            <p class="text-xs text-secondary">to me</p>
            <ic-icon [icIcon]="icArrowDropDown" class="text-secondary" size="18px"></ic-icon>
          </div>
        </div>
      </div>

      <button (click)="$event?.stopPropagation()"
              [matMenuTriggerFor]="actionsMenu"
              class="flex-none"
              mat-icon-button
              type="button">
        <mat-icon [icIcon]="icMoreVert"></mat-icon>
      </button>
    </div>

    <div [@dropdown]="dropdownOpen" class="overflow-hidden">
      <div class="border rounded mt-4 p-2 pr-8 relative">
        <table class="w-full truncate table-fixed">
          <tbody>
          <tr>
            <td class="pr-2 font-medium w-12">From:</td>
            <td class="truncate">
              <span>{{ mail?.from.name }}</span><span class="mx-2">&bull;</span><span class="text-secondary">{{ mail?.from.email }}</span>
            </td>
          </tr>
          <tr>
            <td class="pr-2 font-medium w-12">To:</td>
            <td class="truncate">
              <span>{{ mail?.to.name }}</span><span class="mx-2">&bull;</span><span class="text-secondary">{{ mail?.to.email }}</span>
            </td>
          </tr>
          <tr>
            <td class="pr-2 font-medium w-12">Date:</td>
            <td class="truncate">{{ mail?.date | date:'medium' }}</td>
          </tr>
          </tbody>
        </table>

        <button (click)="toggleDropdown()" class="absolute top-0 right-0" mat-icon-button type="button">
          <mat-icon [icIcon]="icClose" size="18px"></mat-icon>
        </button>
      </div>
    </div>

    <div [innerHTML]="mail?.body" class="vex-blogpost py-4"></div>

    <div class="border-b">
      <div *ngIf="mail?.attachments?.length > 0" class="py-4 flex">
        <vex-mail-attachment *ngFor="let attachment of mail?.attachments; let first = first"
                             [attachment]="attachment"
                             [class.ml-4]="!first"></vex-mail-attachment>
      </div>
    </div>

    <div class="py-2 mt-2 rounded hover:bg-hover transition ease-in-out duration-200 flex items-center -mx-2 px-2 relative cursor-pointer"
         matRipple>
      <div class="flex-none bg-primary-light text-primary rounded-full w-8 h-8 flex justify-center items-center mr-4">
        <ic-icon [icon]="icReply" size="24px"></ic-icon>
      </div>

      <p class="flex-1">Click to <span class="font-medium">Reply</span> or <span class="font-medium">Forward</span></p>

      <ic-icon [icIcon]="icForward" class="flex-none text-secondary" size="24px"></ic-icon>
    </div>
  </div>
</vex-scrollbar>

<mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
  <button mat-menu-item>
    <mat-icon [icIcon]="icReply"></mat-icon>
    <span>Reply</span>
  </button>

  <button mat-menu-item>
    <mat-icon [icIcon]="icForward"></mat-icon>
    <span>Forward</span>
  </button>

  <button mat-menu-item>
    <mat-icon [icIcon]="icDelete"></mat-icon>
    <span>Delete</span>
  </button>
</mat-menu>
