$height: 64px;

.vex-mail-header {
  height: 56px;
}

@screen lg {
  .vex-mail-header {
    height: 200px;
  }

  .vex-mail-header-overflow {
    height: $height;
  }

  .vex-mail-content-overflow {
    margin-top: -$height;
  }
}

.vex-mail-drawer {
  border: 0 !important;
}
