table {
  width: 100%;
  table-layout: fixed;
  height: 5px;
}

 
.my-dialog-container-class{
  height: 100%;
}

.mat-cell {
  font-size: 9px;
  padding: 0px;
  justify-content: center;
 
}

::ng-deep .mat-menu-content {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.mat-menu-item{
  line-height:35px;
  height:35px;
}
 
 
.user-photo__btn {
  opacity: 0.8;
  margin: 3px;  
 
}

.opened {
  background: darkcyan;
  color: white;
  opacity: 1;
}


.highlight{
  font-weight:bolder;
  @apply bg-primary text-primary-contrast ;
   filter: brightness(1.75);
 }


.mat-header-row {
  width: 100%;
  min-height: 10px;
  height: 10px;
  padding: 0px 0px 0px 4px;
}

.mat-row, .mat-footer-row {
  width: 100%;
  min-height: 10px;
  height: 10px;
  padding: 0px 0px 0px 4px;
}


.mat-cell {
  font-size: 11px;
  justify-content: center;
  
} 

  


.class-mat-tab-link
{
  @apply bg-primary text-primary-contrast;
  
}

.mat-header-row {
  height: 0px;
  padding: 0px;
  justify-content: center;
  text-align: center; 
}


.mat-header-cell {
  height: 0px;
  padding: 0px;
  justify-content: center;
  font-weight: bolder;
  font-size: 10px;
  text-align: center;
}

 
 
 
.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: unset;
}

 
.mat-dialog-content {
  overflow: hidden;
  padding-right: 0px;
  padding-left: 0px;
  max-height: none;

  margin-right: auto;
  margin-left: auto;
}

.mat-icon {
  font-size: 28px;
}
 

tr.mat-footer-row,
tr.mat-row {
  height: 8px !important;
  padding: 0px;
}

.mat-form-field {
  width: 50%;
  font-size: 10px;
  margin-top: 5px;
}



.my-form-field {
  // width: 50%;
  font-size: 10px;
  margin-bottom: -10px;
  padding: 0px;
}

// .mat-form-field-appearance-fill .mat-form-field-flex {
//     border-radius: 4px 4px 0 0 !important;
//     padding: 0em 0.75em 0 0.0 !important;
//  }

 



// input[type="date"]::-webkit-calendar-picker-indicator {
//     //display: none;
//     //-webkit-appearance: none;
//     width: 15px;
//     padding: 0px;
//     margin: 0px;
//     margin-top: 10px;
// }

// .mat-form-field-appearance-fill .mat-form-field-flex {
//    border-radius: 0px !important;
//    padding: 0 !important;
// }

// .custom-inpt { 
//   padding: 0px !important;
// }


// .mat-form-field-appearance-fill .mat-form-field-flex {
//   border-radius: 4px 4px 0 0 !important;
//   padding: 0em 0.75em 0 0.75em !important;
// }

.mat-icon-button{
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.mat-cell {
  font-size: 10px;
  justify-content: center;
  text-align: center;
}

.mat-toolbar-multiple-rows {
  min-height: 10px;
}


tr.mat-footer-row {
  
  font-weight: bold;
  padding: 0em 0em 0em 0em !important;
  height: 25px !important;
}