<div class="px-gutter py-4 flex items-center">
  <img [src]="avatarUrl" alt="User Picture" class="flex-none avatar ltr:mr-4 rtl:ml-4"/>
  <div class="flex-auto">
    <p class="font-medium">{{ name }}</p>
    <p class="text-secondary font-medium text-xs">{{ time }}</p>
  </div>
</div>

<ng-content></ng-content>

<div *ngIf="imageUrl">
  <img [src]="imageUrl"/>
</div>

<div [class.border-t]="!imageUrl" class="flex justify-between">
  <div class="px-gutter py-2 flex flex-row cursor-pointer select-none items-center text-pink ltr:rounded-bl rtl:rounded-br relative hover:bg-pink-light trans-ease-out"
       matRipple>
    <ic-icon [icon]="icFavorite" [inline]="true" size="20px"></ic-icon>
    <p class="font-medium ltr:ml-2 rtl:mr-2">{{ likes }} Likes</p>
  </div>

  <div class="px-gutter py-2 flex flex-row cursor-pointer select-none items-center text-primary ltr:rounded-bl rtl:rounded-br relative hover:bg-primary-light trans-ease-out"
       matRipple>
    <ic-icon [icon]="icComment" [inline]="true" size="20px"></ic-icon>
    <p class="font-medium ltr:ml-2 rtl:mr-2">{{ comments }} Comments</p>
  </div>
</div>
