table {
  width: 100%;
  height: 10px;
}


// .mat-form-field{
//   padding: 0px !important;
//   margin: 0px !important;
//   font-size: smaller;
// }
 
.highlight{
  font-weight:bolder;
  @apply bg-primary text-primary-contrast ;
   filter: brightness(1.75);
 }

 
.mat-cell {
  font-size: smaller;
  padding: 0px;
  // color: white;
}

.mat-header-cell {
  font-size: smaller;
  padding: 0px;

}
.mat-row {
// background-color: #e5e5f9;
height: 30px !important;
// font-weight: bolder;
font-size: smaller;

}

.mat-row:hover {
  cursor: pointer;
  font-size:11pt;
}