<div mat-dialog-title class="px-gutter py-1 border-b" style="background-color: #D2D2DB; color:black" cdkDrag
  cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <span fxFlex></span>

    <button mat-button style="width: 90px;" (click)="closeDialog()"> <span>{{
        this.languageMap['Çıkış'].labelName.toUpperCase() }}</span> </button>
    &nbsp;&nbsp;&nbsp;

    <!-- [disabled]="!this.saveEnabled" -->
    <button mat-raised-button color="primary" style="width: 90px;" (click)="save()" [disabled]="this.form.invalid">
      <span>{{
        this.languageMap['Kaydet'].labelName.toUpperCase() }}</span> </button>



  </div>
</div>


<form [formGroup]="form" *ngIf="this.defaults.parent==='shiftGroup'">


  <div class="card" style="margin:5px; overflow: hidden;">

    <mat-dialog-content fxLayout="column">
      <div class="flex flex-col sm:flex-row">

        <mat-form-field appearance="outline">
          <mat-label>{{this.languageMap['Gün'].labelName}}</mat-label>
          <input formControlName="NumberOfDays" type="number" cdkFocusInitial matInput>
        </mat-form-field>



         <mat-form-field appearance="outline">
          <mat-label>{{this.languageMap['Vardiya'].labelName}}</mat-label> 
          <mat-select style="width: 100%;" formControlName="ShiftID">
            <mat-option *ngFor="let services of this.defaults.shiftsCode" [value]="services.id">
              {{services.code+'-'+services.name }}
            </mat-option>
          </mat-select>
        </mat-form-field> 



      </div>


    </mat-dialog-content>



  </div>
</form>

 


<form [formGroup]="form" *ngIf="this.defaults.parent==='shiftGroupBackUp'">



  <div class="card" style="margin:5px; overflow: hidden;">

    <mat-dialog-content fxLayout="column">
      <div class="flex flex-col sm:flex-row">

<!-- 
        <mat-form-field appearance="outline">
          <mat-label>{{this.languageMap['Gün'].labelName}}</mat-label>
          <input formControlName="NumberOfDays" cdkFocusInitial matInput>
        </mat-form-field> -->

        <mat-form-field appearance="outline" style="width: 250px;">
          <mat-label>{{this.languageMap['Vardiya'].labelName}}</mat-label>
          <!-- <input formControlName="WorkingTypeID"  cdkFocusInitial  matInput > -->
          <mat-select style="width: 100%;" formControlName="ShiftID">
            <mat-option *ngFor="let services of this.defaults.shiftsCode" [value]="services.id">
              {{services.code+'-'+services.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>


      </div>
    </mat-dialog-content>

  </div>
</form>