<vex-page-layout style="color: black; overflow: hidden; ">


  <vex-page-layout-header *ngIf="!isMobileLayout" class="pb-16" fxLayout="column" fxLayoutAlign="center start"
    style=" margin-bottom: -75px; height: 75px;">
    <div [class.container]="layoutCtrl.value === 'boxed'" [class.px-gutter]="layoutCtrl.value === 'fullwidth'"
      class="w-full flex flex-col sm:flex-row justify-between">
      <div>
        <h1 class="title mt-0 mb-1">{{this.languageMap['Yuvarlama Tanımları'].labelName}}</h1>
        <vex-breadcrumbs class="breadcrumb" [crumbs]="this.breadcrumbs"></vex-breadcrumbs>
      </div>

      <mat-button-toggle-group [formControl]="layoutCtrl" class="mt-4 sm:mt-0">
        <mat-button-toggle value="boxed" (click)="resize('boxed')">{{this.languageMap['Ortala'].labelName}}
        </mat-button-toggle>
        <mat-button-toggle value="fullwidth" (click)="resize('fullwidth')">{{this.languageMap['Tam Ekran'].labelName}}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </vex-page-layout-header>

  <vex-page-layout-content [class.container]="layoutCtrl.value === 'boxed'" 
    [ngStyle]="{'margin-top': isMobileLayout?'10px ':'0px', 'width': (layoutCtrl.value === 'fullwidth')?'100%':'80%'}"
    [class.px-gutter]="layoutCtrl.value === 'fullwidth'" class="-mt-6" style="overflow:hidden">

    <div div fxLayout="row" style="overflow: hidden;">

        <mat-tab-group style="width: 100%; overflow: hidden;" class="class-mat-tab-link" 
          [ngStyle]="{'height': (this.subFooter?'70vh':'calc(70vh + 50px)')}" (selectedTabChange)="onTabChanged($event);">
          <mat-tab >
            <ng-template mat-tab-label>
              <span [ngStyle]="{
                    'color': (0===this.selectedIndex)?'white':'black'}">{{this.languageMap['Saat
                Yuvarlama'].labelName}}</span>
            </ng-template>

            <roundings-table [selectedIndex]=this.selectedIndex></roundings-table>
          </mat-tab>
          <mat-tab  >
          <ng-template mat-tab-label>
            <span [ngStyle]="{
                      'color': (1===this.selectedIndex)?'white':'black'}">{{this.languageMap['Gün
              Yuvarlama'].labelName}}</span>
          </ng-template>


          <roundings-table  [selectedIndex]=this.selectedIndex></roundings-table>
        </mat-tab>
      </mat-tab-group>



    </div>
  </vex-page-layout-content>
</vex-page-layout>